main {
  /* Layout */
  max-width: 800px;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem;
  box-sizing: border-box;
  overflow: visible;

  /* Box */
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;

  /* Decoration */
  background-color: #fbfbfb;
}
