---
import { joinURL } from "ufo";

interface Props {
  description: string;
  lang: string;
  title: string;
}

const { description, lang, title } = Astro.props;
const { BASE_URL } = import.meta.env;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link
      rel="icon"
      type="image/png"
      href={joinURL(BASE_URL, "favicon-96x96.png")}
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={joinURL(BASE_URL, "favicon.svg")}
    />
    <link rel="shortcut icon" href={joinURL(BASE_URL, "favicon.ico")} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={joinURL(BASE_URL, "apple-touch-icon.png")}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
  }
</style>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  html {
    background-attachment: fixed;
    background-image:
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0.75) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        var(--color-bg-0) 0%,
        var(--color-bg-1) 15%,
        var(--color-bg-2) 50%
      );
  }
</style>
